body{
    margin: 0px;
    padding: 0px;
}
footer {
    width: 100%;
    background: #ffffff;
    border-top: 1px solid #fff7ed;
    margin-top: 10px;
    padding-top: 10px;
}

.footer-container {
    width: 100%;
   
    margin: auto;

    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

/* Logo */
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #7c2d12;
}

.footer-logo img {
    width: 62px;
    margin-bottom: 20px;
}

/* Headings */
.footer h4 {
    margin-bottom: 30px;
    color: #7c2d12;
    font-size: 18px;
}

/* Text */
.footer p {
    color:#f97316;
    font-size: 16px;
}

/* Links */
.footer a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color:#f97316;
    margin-bottom: 6px;
    transition: 0.3s;
    font-size: 16px;
}

/* Link Icons */
.footer a i {
    color: #f97316;
    font-size: 16px;
}

/* Hover Effects */
.footer a:hover {
    color: #ea580c;
}

.footer a:hover i {
    transform: translateX(3px);
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 12px;
    flex-direction: row;
    margin-top: 10px;
}

.social-icons i {
    font-size: 16px;
    color: #f97316;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #ea580c;
    transform: translateY(-3px);
}

/* Bottom */
.footer-bottom {
    text-align: center;
    margin-top: 0px;
    padding: 5px 0;
    border-top: 1px solid #fff7ed;
    font-size: 16px;
}.footer-bottom p{
    color: #7c2d12;
    font-size: 18px;
}


@media (max-width: 760px) {
.footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
    }

    .footer-links a {
        justify-content: center;
    }

    .footer-logo {
        justify-content: center;
    }

    .social-icons {
        justify-content: center;
    }

    .footer h4 {
        text-align: center;
    }

    .footer-bottom {
        font-size: 12px;
    }
}